.dashboard {
  background-color: #f9f9fb;
  padding: 0.5em;
  width: 90%;
  margin: auto;
}

.grid-row-one {
  background-color: #f9f9fb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 0.5em;
}

.grid-row-two {
  padding: 0.5em;
}

.sect {
  grid-column: 1/3;
  background-color: lightgrey;
  padding: 1em 1em 1em 1em;
  margin: 2.2em 0em 2.2em 0em;
  border-radius: 24px;
  /* width: 120%; */
}

.sect2 {
  grid-column: 1/3;
  background-color: lightgrey;
  padding: 1em 1em 1em 1em;
  margin: 2.2em 0em 2.2em 0em;
  border-radius: 24px;
  /* width: 80%; */
  margin-left: 10em;
}

.sect p {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 24px;
  width: 82%;

  /* font-size: 1.2em; */
  /* font-weight: 600; */
}

.grid-profile {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 1em;
  padding: 0.5em;
}

.profile-details {
  /* background-color: #f9f9fb; */
  display: block;
  text-align: center;
  padding: 1em 1em;
  border-radius: 24px;
}

.profile-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.trainers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 0.5em;
}

.trainer-details {
  display: block;
  text-align: center;
  padding: 1em 1em;
  border-radius: 24px;
}

.trainer-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ffffff;
}

/* .avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #53585d;
  background-color: #ffffff;
  margin-bottom: 10px;
} */

.details {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 1em 1em;
}

.details p {
  color: #000000;
  font-size: 1em;
  padding-bottom: 0;
  font-weight: 300;
}

.detail {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 1em 1em;
}

.detail p {
  color: #000000;
  font-size: 1em;
  padding-bottom: 0;
  font-weight: 300;
}

/* .grid-two{
  padding: 0;
  background-color: aqua;
} */

.grid-two button, .form-button {
  background-color: #4bb49b;
  border: 1px solid #53585d;
  border-radius: 24px;
  padding: 0.5em 0.5em;
  margin: 2em 0em;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-two button:hover, .form-button:hover {
  background-color: #14dede;
  border: 1px solid #53585d;
  border-radius: 24px;
  padding: 0.5em 0.5em;
  margin: 2em 0em;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}