
.testimonials-page {
  background-color: #f9f9fb;
  padding: 2em 0.5em;
  width: 80%;
  margin: auto;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 0.5em;
  margin-bottom: 2em;
}

.testimony {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

}
.testimony img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: aliceblue;
}

.testimony-form {
margin: 0 auto;
}

.form-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 0.5em;
}

.form-table input {
  border-radius: 24px;
  padding: 0.5em 0.5em;
  margin-bottom: 3.5em;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
}

.form-table label {
color: black;
margin-bottom: 10px;
}

/* star-rating */
.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
}
.on {
  color: #ffd700;
}
.off {
  color: #ccc;
}
.star {
  font-size: 28px;
}