/**
*Importing Google Fonts
*You can use <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap" rel="stylesheet">
*in public/index.html to improve performance
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/elegant-2');
@import url('https://fonts.cdnfonts.com/css/offenbacher-reform-cat');

.main-h {
  font-family: 'Offenbacher Reform CAT', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #a07508;

}

.about-us {
  background-image: url('../images/about5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: 'ELEGANT', sans-serif;
  border-top: 1px solid #a07508;
  align-items: center;


}

.about-info1 {
  width: 400px;
  border-left: 2px solid #a07508;
  border-right: 2px solid #a07508;

  background-color: rgba(0, 0, 0, 0.2);
  align-items: left;
  color: white;
  margin: 2px 117px 2px 112px;

}

.cont {
  display: flex;
}



.about-us-stats {
  width: 900px;
  margin-left: 10rem;
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  justify-content: space-between;
  background: #353232;
  padding: 2px;
}

.stat {
  margin-top: 0px;
}

.about-us-stats div:nth-child(2),
.about-us-stats div:nth-child(4) {
  transform: translateY(0px);
}

.about-us p {
  color: white;

}

.about-us h1 {
  text-decoration: underline;

}
