/**
*Importing Google Fonts
*You can use <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap" rel="stylesheet">
*in public/index.html to improve performance
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap');

.about-us {
      background-color: #F5F5F5;
}

.about-us-section {
      width: 727px;
      margin: 3.5rem auto;
      text-align: center;
}

.about-us-section span {
      font-family: Inter;
      font-size: 40px;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 0em;
      text-align: center;
}

.about-us-section p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;

}

.about-us-stats {
      width: 900px;
      margin: 3rem auto;
      display: flex;
      justify-content: space-between;
      background: #D9D9D9;
      padding: 20px;
}
.stat{
      margin-top: -15px;
}
.about-us-stats div:nth-child(2), .about-us-stats div:nth-child(4){
      transform: translateY(40px);
}

