
@import url('https://fonts.cdnfonts.com/css/calligraphy-2');  

@import url('https://fonts.cdnfonts.com/css/luminari');  
html, body {
  height: 100vh;
  width: 100vw;
}   
.wrapper {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}
.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  display: table;
}
.fixed h2 {
  display: table-cell;
  vertical-align: middle;
}
.scroll {
  background-color: black;
  padding: 10px 70px;
  color: whitesmoke;
}
.one {
  height: 88vh;
  background-image: url("./images/7.jpg")
}
.two {
  height: 84vh;
  background-color: rgb(211, 211, 211);

  /* background-image: url("./ims/3.jpg") */
}
.three {
  display: grid;
  grid-template-columns: ;
  background-color: yellow;
  height: 80vh;
  background-image: url("./images/10.jpg")
  
}
.four{
height: 60vh;
background-color: rgb(211, 211, 211);
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
.navbar{
	background-color: transparent;
  transition: background 2.5s ease-in-out;
}

.navbar.colorChange{
	background-color: rgba(0, 0, 0, 0.9);
}
.topnav{
  border-bottom: 1px solid gray;
  height: 40px;
}
.befited{
  font-family: 'Calligraphy', sans-serif;
  font-family: 'Calligraphy wet', sans-serif;

}
  .navbar-button{
    background: transparent;
    border-bottom: none !important;
    border-top: none !important;
    padding-left: 20px;
    padding-right: 20px;

    height: 30px;
    margin-top: 25px;
    color: #eeeeee;
    font-size: 16px;
    transition: transform 0.25s ease-out;
  }
  .navbar-button:hover{
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: underline;
  }

 
.navbar-button-register {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: whitesmoke;
  margin-top: 10px;
  border-radius: 25px;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbar-button-register:hover,
.navbar-button-register:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.navbar-button-register:active {
  background: var(--color);
  color: #fff;
}
.get-started{
  display: flex;
  background-color: white;
  margin: 20px 50px 20px 50px;
  padding: 0px;
}

p{
  color: black;
  font-weight: bold;
  font-family: 'lumi';
}
.get-started-img{
  object-fit: cover}
    
  .get-started-button{
    background-color: rgb(42, 170, 138);
    border: none;
    border-radius: 25px;
    /* height: 30px; */
    padding: 10px;
    
  }
  .p1{
    font-size: xx-large;
    margin-left: 30px;
    margin-right: 80px;
    font-family: 'Luminari', sans-serif;
                                                
  }
  .learn-more{
    display: flex;
    background-color: white;
  margin: 20px 50px 20px 50px;
  padding: 0px;

  }
  .box {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;


}
.box>* {
    flex: 1 1 300px;
    margin: 20px;
    height: 250px;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(150, 222, 209);
    padding: 4px;
}

.offer-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  
}

.box-div{
  display: table-cell;
        text-align: center;
        vertical-align: bottom;
}
.box-membership{
  display: flex;
  justify-content: center;
  }
.membership1{
  background-color: white;
  height: 200px;
  color: black;
  width: 20%;
  margin: 20px
  
}

 

.membership2{
  background-color: white;
  width: 20%;
  color: black;
}
  
  .membership-title{
    color: black;
  }
  .carousel-root {
  width: 44% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: transparent !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 69px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 169px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

.footer{
  height: 100px;
  border-radius: 100% / 0 0 30% 30%;
  background: white;
}